@charset "utf-8";

/* CSS variables */
:root{
    --color-c: rgba(100, 255, 255, 1);
    --color-m: rgba(255, 100, 255, 1);
    --color-y: rgba(255, 255, 100, 1);
}

/* Universal reset */
*{
    margin: 0;
    padding: 0;
}

/* HTML + body main styles */
html, body{
    background: linear-gradient(-180deg,
        rgba(255,255,255,1) 0%, 
        rgba(226,235,255,1) 100%
    );
    color: #111;
    font-family: sans-serif;
}

/* Horizontal rule */
hr{
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg,
        var(--color-c) 0%,
        var(--color-m) 50%,
        var(--color-y) 100%
    ) 1;
    margin: 2em 0;
}

/* Unordered list */
ul{
    list-style: none;
}

/* Main container for full page content */
#MAIN_CONTAINER{
    padding: 2em 0 0;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

/* Scrolling side bars */
#BG_SCROLL{
    top: 0;
    left: 0;
    width: 100%;
    height: 500vh;
    pointer-events: none;
    position: absolute;
    background-image: url("img/bg_scroll.png");
    background-repeat: repeat-y;
    background-size: 100% 100vh;
    animation: infinite bg_scroll 50000ms linear;
    z-index: 0;
}

/* Basic link */
a{text-decoration: none; font-family: sans-serif;}
a:link{color: black;}
a:hover{color: black;}
a:active{color: black;}
a:visited{color: black;}

/* Header container */
#MAIN_HEADER{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}
/* Inktrinket icon link container */
a.inktrinket_icon{
    height: 100%;
}
/* Inktrinket icon image */
a.inktrinket_icon img{
    height: 100%;
}

/* Main nav container */
#MAIN_NAV{
    padding: 1.5em 1em;
    text-align: center;
}
/* Main navigation list root */
#MAIN_NAV > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* Main navigation list element */
#MAIN_NAV > ul li{
    display: grid;
    place-items: center;
    margin: 0 auto;
    position: relative;
}
/* Main navigation list item link (also affects sublists) */
#MAIN_NAV > ul li a{
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    background-color: rgba(255, 255, 17, 0);
    border-radius: 5rem;
    transition: background-color 300ms ease;
}
/* Hover event for navigation list item link */
#MAIN_NAV a:hover, #MAIN_NAV a:active{background-color: rgba(255, 255, 17, 0.15);}

/* Nav sublist */
ul.nav_sublist{
    position: absolute;
    top: 0;
    left: -50;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}
/* Nav sublist element */
ul.nav_sublist > li{
    margin: 0 !important;
}

/* Nav link hover event (also affects sublists) */
#MAIN_NAV a:hover + .nav_sublist, .nav_sublist:hover{
    transform: translateY(50%);
    opacity: 1;
    pointer-events: auto;
}

/* Main footer container */
#MAIN_FOOTER{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    text-align: center;
    color: #fff;
    background-color: #111;
    padding: 2em;
}
/* Footer icon wrapper */
.footer_icon_wrapper{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}
/* Footer icon container within wrapper */
.footer_icon{
    width: 80px;
    height: 80px;
}
/* Footer icon image element */
.footer_icon img{
    filter: invert(1);
}
/* Footer text grid area */
.footer_text{
    grid-column: 2/3;
    grid-row: 2/3;
}

#MAIN_GRID{
    margin-top: 5em;
    margin-bottom: 10em;
}

/* Animation for background scrolling */
@keyframes bg_scroll{
    0%{
        background-position-y : 0;
    }
    100%{
        background-position-y : 100%;
    }
}