@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

/* Marion's Hand */
@font-face {
	font-family: 'Alternate';
	src: url('Fonts/AAAlternate.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body{
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

header{
    padding: 5em 10em;
}

/* Grid */
#gridContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 1em;
    margin: 2em 5em;
    background-color: #444;
}
#gridContainer > div{
    text-align: center;
}
.item_01{
    grid-column: 3/-3;
    grid-row: 1/2;
    padding: 1em 3em;
    background-color: #777;
}
.item_01 p{
	font-family: 'Alternate',serif;
    font-size: 4rem;
    transition: all .5s;
}
.item_01 p:hover{
    transform: rotate(540deg) rotateY(180deg);
}
.item_01 p:before{
    content: "?";
}
.item_01 p:after{
    content: "?";
}
.item_01 p:hover:before{
    content: "!";
}
.item_01 p:hover:after{
    content: "!";
}

.item_02{
    grid-column: 1/-1;
    grid-row: 2/3;
    top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all .5s;
}

/* Title */
.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 3em;
    animation: appear 2s ease-out;
}

.wrapper{
    animation: example-1 8s infinite;
    animation-timing-function: ease-in-out;
}
.wrapper2{
    animation: example-2 10s infinite;
    animation-timing-function: ease-in-out;
}
.wrapper3{
    animation: example-3 8s infinite;
    animation-timing-function: ease-in-out;
}
.wrapper3 h1{
	font-family: 'Alternate',serif;
    font-size: 16rem;
    line-height: 1.25em;
}
.wrapper2:nth-letter(even){
    font-size: 99rem;
}
.wrapper h5{
	font-family: 'Alternate',serif;
    font-size: 3rem;
}
.wrapper3 h6{
	font-family: 'Alternate',serif;
    font-size: 2rem;
}

/* General Text Styles */

/* Animation Keyframes */
@keyframes appear{
    0%{
        transform: translateY(-1000px) rotateY(270deg) rotateX(90deg) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) rotateY(0deg) rotateX(0deg) scale(1);
        opacity: 100;
    }
}

@keyframes example-1 {
    0%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0;
    }
    25%{
        color: #884444;
        transform: scale(0.90);
        letter-spacing: 1em;
    }
    50%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0;
    }
    75%{
        color: #444488;
        transform: scale(0.90);
        letter-spacing: 1em;
    }
    100%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0;
    }
}

@keyframes example-2 {
    0%{
        transform: rotate(5deg) translateY(-10px);
    }
    50%{
        transform: rotate(-5deg) translateY(10px);
    }
    100%{
        transform: rotate(5deg) translateY(-10px);
    }
}

@keyframes example-3 {
    0%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0;
    }
    25%{
        color: #ff8888;
        transform: scale(1);
        letter-spacing: 1.25em;
    }
    50%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0;
    }
    75%{
        color: #8888ff;
        transform: scale(1);
        letter-spacing: 1.25em;
    }
    100%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0;
    }
}