@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

/* Marion's Hand */
@font-face {
	font-family: 'Alternate';
	src: url('Fonts/AAAlternate.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RockwellStd';
	src: url('Fonts/RockwellStd.otf') format('opentype');
    font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'RockwellStd';
	src: url('Fonts/RockwellStd-Light.otf') format('opentype');
    font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'RockwellStd-Condensed';
	src: url('Fonts/RockwellStd-Condensed.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('Fonts/OswaldLight.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('Fonts/Oswald.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

#gridContainer_Main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    width: 960px;
    margin: 2em auto 4em;
    background: rgba(0,0,0,0);
    -webkit-animation: appear2 1s ease-out;
    -moz-animation: appear2 1s ease-out;
    -ms-animation: appear2 1s ease-out;
    animation: appear2 1s ease-out;
    z-index: 100;
}

#gridContainer_Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,auto);
    width: 960px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

body{
    color: #fff;
    background-color: #000;
    -webkit-overflow-x: hidden; /* Safari */        
    -moz-overflow-x: hidden; /* Firefox */
    -ms-overflow-x: hidden; /* IE10+/Edge */
    overflow-x: hidden; /* Standard */
}

header{
    text-align: center;
    padding: 5em 5em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    animation: appear 1s ease-out;
}
header h1{
	font-family: 'Alternate',serif;
    font-size: 10rem;
    line-height: 1.1em;
    color: #fff;
    animation: example-2 8s infinite ease-in-out;
}
header h4{
	font-family: 'RockwellStd-Condensed',serif;
    font-size: 4rem;
    line-height: 1em;
    color: #888;
    animation: example-2 8s infinite ease-in-out;
}

main{
    grid-column: 1/-1;
    padding: 3em 3em;
    z-index: 100;
}

#gridContainer_Main .bodyHeader{
    padding: 1.5em 0 1em;
}
#gridContainer_Main .bodyHeader:first-child{
    padding-top: 0em;
}

h1{
	font-family: 'RockwellStd',serif;
    font-weight: 400;
    color: #ff6666;
    font-size: 2.75rem;
    text-align: center;
    line-height: 1.25em;
}

h2{
	font-family: 'RockwellStd',serif;
    font-weight: 300;
    color: #ff6666;
    font-size: 2rem;
    text-align: center;
    line-height: 1.25em;
}

p{
	font-family: 'Oswald',sans-serif;
	font-weight: 300;
    color: #ddd;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1em;
}
#gridContainer_Main p:last-child{
    padding-bottom: 0;
}

#gridContainer_Main a{
	font-family: 'Oswald',sans-serif;
    color: #ff8888;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1em;
}

/* Dropdown Container */
nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-around;
    text-align: center;
    padding: 2em;
}

.homeNav{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 0em;
}

.footerAppear{
    animation: appear2 1s ease-out;
}

a{
    text-decoration: none;
}

footer a{
    padding-top: -0.25em;
    padding-bottom: 0.25em;
}

/* Change color of dropdown links on hover */
a .mask{
    transition: color .1s linear;
}
a .maskNo{
    transition: color .1s linear;
}

nav a{
	font-family: 'RockwellStd-Condensed',serif;
    font-size: 2rem;
    letter-spacing: 0em;
    text-decoration: none;
    display: block;
    transition: all .15s linear;
    animation: example-2b 8s infinite;
}

nav a.home{
    animation: example-2c 8s infinite;
}

.hide{
	font-family: 'RockwellStd-Condensed',serif;
    font-size: 0.9em;
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 0;
    transform-origin: center;
    transform: translateY(10px);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    animation: example-2e 8s infinite;
    transition: all .1s linear;
}
nav a:hover + .hide, nav a:active + .hide{
    visibility: visible;
    opacity: 1;
}

nav > div{
    animation: example-2d 8s infinite;
}
    
/* All Hover */
a:hover .mask, a:active .mask{
    color: #fff;
}
a:hover .maskNo, a:active .maskNo{
    color: #555;
}

/* Show the dropdown menu on hover */
.dropdown:hover, .dropdown:active{
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
.dropdown:hover .dropdown-content a, .dropdown:active .dropdown-content a{
    font-size: 3rem;
    letter-spacing: 0em;
    padding: 12px 20px;
}

.dropdown:hover .dropbtn p, .dropdown:active .dropbtn p{
    transform-origin: center;
    transform: rotateX(180deg) rotateZ(720deg);
    font-size: 5rem;
    line-height: 2em;
}
.dropdown:hover .dropbtn p:before, .dropdown:active .dropbtn p:before{
    content: "";
}
.dropdown:hover .dropbtn p:after, .dropdown:active .dropbtn p:after{
    content: "";
}
    
.dropdown .dropbtn p:before{
    content: "?";
}
.dropdown .dropbtn p:after{
    content: "?";
}

/* Animation Keyframes */
@keyframes appear{
    0%{
        transform: translateY(1000px) rotateY(270deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) rotateY(0deg);
        opacity: 100;
    }
}
@keyframes appear2{
    0%{
        transform: translateY(1000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100;
    }
}

@keyframes example-1 {
    0%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0.25em;
    }
    25%{
        color: #884444;
        transform: scale(0.90);
        letter-spacing: 1em;
    }
    50%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0.25em;
    }
    75%{
        color: #444488;
        transform: scale(0.90);
        letter-spacing: 1em;
    }
    100%{
        color: #888;
        transform: scale(1);
        letter-spacing: 0.25em;
    }
}

@keyframes example-2 {
    0%{
        transform: rotate(5deg) translateY(-10px);
    }
    50%{
        transform: rotate(-5deg) translateY(10px);
    }
    100%{
        transform: rotate(5deg) translateY(-10px);
    }
}
@keyframes example-2b {
    0%{
        color: #ff8888;
        transform: rotate(5deg);
    }
    50%{
        color: #8888ff;
        transform: rotate(-5deg);
    }
    100%{
        color: #ff8888;
        transform: rotate(5deg);
    }
}
@keyframes example-2b2 {
    0%{
        color: #ff8888;
    }
    50%{
        color: #8888ff;
    }
    100%{
        color: #ff8888;
    }
}
@keyframes example-2c {
    0%{
        color: #8888ff;
        transform: rotate(5deg);
    }
    50%{
        color: #ff8888;
        transform: rotate(-5deg);
    }
    100%{
        color: #8888ff;
        transform: rotate(5deg);
    }
}
@keyframes example-2c2 {
    0%{
        color: #8888ff;
    }
    50%{
        color: #ff8888;
    }
    100%{
        color: #8888ff;
    }
}
@keyframes example-2d {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes example-2e {
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

@keyframes example-3 {
    0%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0.25em;
    }
    25%{
        color: #ff8888;
        transform: scale(1);
        letter-spacing: 1.25em;
    }
    50%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0.25em;
    }
    75%{
        color: #8888ff;
        transform: scale(1);
        letter-spacing: 1.25em;
    }
    100%{
        color: #fff;
        transform: scale(0.90);
        letter-spacing: 0.25em;
    }
}


@media all and (max-width: 600px){
    
    header{
        padding: 2em 1em;
    }
    header h1{
        font-size: 5rem;
    }
    header h4{
        font-size: 2.5rem;
    }
    
    #gridContainer_Main{
        grid-template-columns: 1fr;
        width: 100%;
    }
    #gridContainer_Footer{
        width: 100%;
    }

    #gridContainer_Main h1{
        font-size: 2.5rem;
    }
    #gridContainer_Main h2{
        font-size: 1.75rem;
    }
    
    nav{
        flex-direction: column;
    }

    .homeNav{
        flex-direction: column;
    }
    
    .hide{
        animation: example-2e 8s infinite;
    }

}