@charset "utf-8";
/* CSS Document */

/* Mobile */
@media only screen and (max-width: 600px) {
    
    #flourish_01{
        display: none;
    }
    #flourish_02{
        display: none;
    }
    
    #TITLE_AREA{
        width: 100%;
        height: auto;
    }
    .title_img{
        position: relative;
        display: block;
        margin: 0 auto 2em;
        top:  0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
    }
    .titlebg_img{
        display: none;
    }
    
    .pageDivider{
        background-image: none;
    }
    
    #GRID_MAIN{
        grid-template-columns: repeat(11,1fr);
        margin-bottom: 0;
    }
    .landingHeader{
        grid-column: 2/-2;
    }
    .aboutHeader{
        grid-column: 2/-2;
        height: auto;
        margin-bottom: 2em;
    }
    
    .landingOpener{
        grid-column: 2/-2;
    }
    .landingSect{
        grid-column: 2/-2;
    }
    .aboutSect{
        grid-column: 2/-2;
    }
    
    #GRIDnav{
        grid-template-columns: repeat(11,1fr);
    }
    .navHeader{
        grid-column: 1/-1;
        padding: 0;
    }
    .navHeader .img_hr{
        display: none;
    }
    .navMain{
        grid-column: 1/-1;
        padding: 0 3em;
    }
    .navUpper{
        padding: 0;
        width: 75%;
    }
    
    .navMain a > *,.navUpper a > *{
        transform: scale(100%,100%);
    }
    
    .header_line01{
        position: absolute;
        top: 10%;
        left: 15%;
        font-size: 7vw;
    }
    .header_line02{
        position: absolute;
        top: 42%;
        left: 52%;
        transform: translate(-50%,-50%);
        font-size: 4vw;
        color: #888;
    }
    .header_line03{
        position: absolute;
        bottom: 25%;
        right: 15%;
        font-size: 10.25vw;
    }
    

    #DM_MAIN #DM_IMG{
        grid-column: 1/-1;
    }
    
    #DM_DESC_PLACE{
        grid-column: 2/-2;
        padding: 7em 0 1em;
    }
    #DM_DESC_BEING,#DM_DESC_OBJ,#DM_DESC_FEEL{
        grid-column: 2/-2;
        padding: 1em 0;
    }
    
    #DMlist_CONTAIN{
        grid-column: 1/-1;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1em 0 4em;
    }
    .dmlist li,.dmlist li:first-child{
        width: 80px;
        transform: translateX(25%);
    }
    .dmlist li:not(:first-child){
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        list-style: none;
        right: 0;
        width: 100%;
    }
    .dmlist_img{
        width: 100%;
        height: 100%;
    }
    
    
    h1{
        font-size: 2.5rem;
    }
    .dream_header h1{
        font-size: 7.5rem;
    }
    .aboutHeader h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 2.25rem;
    }
    #DREAM_CONTAINER h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .landingOpener h2{
        font-size: 1.25rem;
    }

    h3{
        font-size: 1.25rem;
    }
    .navHeader h3{
        font-size: 2.25rem;
    }
    #heading_place{
        margin-top: 0.5em;
    }
    #heading_place,#heading_being,#heading_obj,#heading_feel{
        font-size: 3.25rem;
    }

    p{
        font-style: normal;
        font-size: 1rem;
    }
    .landingSect p{
        line-height: 2rem;
    }
    .landingSect p::first-letter{
        font-size: 3.75rem;
    }
    .aboutSect p,#DM_DESC_PLACE p,#DM_DESC_BEING p,#DM_DESC_OBJ p,#DM_DESC_FEEL p{
        line-height: 1.5rem;
    }
    li p{
        font-size: 1rem;
    }

    label{
        font-size: 1rem;
    }
    
}