@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    background-color: #320062;
}
    
#graphContainer{
    grid-column: -4/-2;
    grid-row: 2/3;
    width: 100%;
    height: 80%;
    margin-top: 3.5em;
}

.mainContainer{
    
}

img{
    width: 100%;
    height: 100% !important;
}
.figure img{
    width: 60%;
    margin-bottom: 1.5em;
}

audio, video{
    margin-bottom: 3em;
}

a{
    text-decoration: none;
}

/* Fonts */
/* Bungee */
@font-face {
	font-family: 'Bungee';
	src: url('font/Bungee.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
/* Apotek */
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_200.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_300.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_400.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_500.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_600.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_700.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Apotek';
	src: url('font/Apotek_800.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

/* Page Title */
.center{
    text-align: center;
}


/* Page Title */
.titleContainer{
    position: relative;
    background-color: #000;
}
.introImg{
    mix-blend-mode: overlay;
}

/* Nav */
nav{
    
}

nav a:link{
	font-family: 'Bungee',sans-serif;
    font-size: 2rem;
    color: rgba(255,255,255,0.5);
    transition: color 100ms linear;
}
nav a:hover{
    color: rgba(255,255,255,0.75);
}
nav a:active{
    color: rgba(255,255,255,1);
}
nav a:visited{
    color: rgba(255,255,255,0.25);
}
.currentPage{
    background: -webkit-linear-gradient(90deg, rgba(255,109,0,1) 0%, rgba(255,109,0,1) 25%, rgba(240,133,0,1) 26%, rgba(240,133,0,1) 50%, rgba(240,165,0,1) 51%, rgba(240,165,0,1) 75%, rgba(240,188,0,1) 76%, rgba(240,188,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.80;
}
.buttonNavCurrentPage{
    color: #FFBE00;
    opacity: 1;
}

.navItem{
    flex: 1;
    display: flex;
    justify-content: center;
}
.navItem:first-child a { margin-right: auto; }
.navItem:last-child a { margin-left: auto;  }

.topNavHoverText{
	position: absolute; 
	left: 0; 
	right: 0; 
	margin: 1em auto;
	font-family: 'Bungee',sans-serif;
    font-size: 1.5rem;
    color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 100ms linear;
	
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
	pointer-events: none;
	
	animation: topNavHoverText_Appear 5000ms linear forwards;
	animation-iteration-count: 1;
}

.topNavBG{
	position: relative;
	background-color: #000;
}

.topNavBG:hover .topNav{
	visibility: visible;
	opacity: 1;
}

.topNavBG:hover .topNavHoverText{
	opacity: 0;
	
	animation: topNavHoverText_Hide 1ms linear;
	animation-iteration-count: 1;
}

.topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	padding: 1em 8em;
	transition: all 200ms linear;
	visibility: hidden;
	opacity: 0;
}

.bottomNav{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 18em;
	transition: all 200ms linear;
}
.bottomNav a:link{
    font-size: 1.5rem;
}

.buttonNav{
    display: none;
}


/* Main Body */
#bodyContainer{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,auto);
}

/* Grid Items */
.pageTitle{
    grid-column: 1/-1;
    grid-row: 1/2;
	margin-bottom: 2em;
    text-align: center;
}
.body01{
    grid-column: 3/-3;
    grid-row: 2/3;
    padding: 2em;
    outline: 20px solid rgba(0,0,0,0.25);
    outline-offset: 0px;
    background-color: rgba(0,0,0,0.5);
	margin-top: 4em;
	margin-bottom: 4em;
}
.body01b{
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 2em;
    outline: 20px solid rgba(0,0,0,0.25);
    outline-offset: 0px;
    background-color: rgba(0,0,0,0.5);
	margin-top: 4em;
	margin-bottom: 4em;
}
#mainBody{
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto auto;
}
#mainBody main:nth-child(n){
	margin-bottom: 4em;
}
#mainBody main:last-child{
	margin-bottom: 4em;
}
.body02{
    grid-column: 3/-3;
    grid-row: 1/2;
    padding: 2em;
    outline: 20px solid rgba(0,0,0,0.25);
    outline-offset: 0px;
    background-color: rgba(0,0,0,0.5);
}
.body03{
    grid-column: 3/-3;
    grid-row: 2/3;
    padding: 2em;
    outline: 20px solid rgba(0,0,0,0.25);
    outline-offset: 0px;
    background-color: rgba(0,0,0,0.5);
}


/* Footer */
footer{
    text-align: center;
    background-color: #000;
    padding: 2em;
}


/* Text Elements */
h1{
	font-family: 'Bungee',sans-serif;
    font-size: 4rem;
}
.pageTitle > h1{
	text-align: center;
    background: linear-gradient(0deg, rgba(255,136,0,1) 0%, rgba(255,136,0,1) 25%, rgba(240,165,0,1) 26%, rgba(240,165,0,1) 50%, rgba(240,197,0,1) 51%, rgba(240,197,0,1) 75%, rgba(240,213,0,1) 76%, rgba(240,213,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -1em;
}

h2{
	font-family: 'Bungee',sans-serif;
    font-size: 3rem;
    line-height: 3rem;
}
#mainBody h2{
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(241,227,255,1) 0%, rgba(241,227,255,1) 25%, rgba(232,208,255,1) 26%, rgba(232,208,255,1) 50%, rgba(220,187,255,1) 51%, rgba(220,187,255,1) 75%, rgba(199,144,255,1) 76%, rgba(199,144,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mainBody h2:first-child{
    margin-top: 0.5rem;
}

h3{
	font-family: 'Apotek',sans-serif;
	font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

p{
	font-family: 'Apotek',sans-serif;
	font-weight: 300;
    font-size: 1.5rem;
	color: rgba(235,215,255,1.00);
}
.pSource{
	font-family: 'Apotek',sans-serif;
	font-weight: 200;
    font-size: 1rem;
	color: rgba(186,170,201,1.00);
}
footer p{
    font-size: 1rem;
	color: rgba(110,110,110,1.00);
}

strong{
	color: #C082FF;
}

a{
	color: rgba(240,188,0,1);
}


/* Other */
.gradient_In{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.25) 26%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
    z-index: -1;
}
.gradient_Out{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.25) 26%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
    height: 80px;
    z-index: -1;
}


/* Keyframes */
@keyframes topNavHoverText_Appear{
	0%{
		opacity: 0;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 0.25;
	}
}

@keyframes topNavHoverText_Hide{
	from{
		opacity: 0;
	}
	to{
		opacity: 0;
	}
}

@keyframes why{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(359deg) rotateY(359deg);
    }
}


@media all and (max-width: 640px){
    
    .pageTitle > h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.25rem;
    }
    
    .topNavBG, .topNav, .topNavHoverText, .bottomNav{
        display: none;
    }
    
    .buttonNav{
        display: block;
        position: fixed;
        bottom: 24px;
        right: 24px;
        width: 48px;
        height: 48px;
        background-color: #5400A6;
        z-index: 101;
        text-align: right;
        transition: all 200ms linear;
        padding: 1rem;
    }
    .buttonNav img{
        position: absolute;
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%;
        max-width: 50%;
        max-height: 50%;
        opacity: 1;
        transition: all 100ms linear;
    }
    .buttonNavOpen{
        display: none;
    }
	.buttonNavOpen a{
		display: contents;
	}
    .buttonNav:hover{
        width: 224px;
        height: 240px;
        background-color: #000;
    }
    .buttonNav:hover img{
        opacity: 0;
		display: none;
    }
    .buttonNav:hover .buttonNavOpen{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .heroImage{
        width: 75%;
    }
    
    .body01{
        grid-column: 1/-1;
    }
    .body02{
        grid-column: 1/-1;
    }
    .body03{
        grid-column: 1/-1;
    }
    
}