@charset "utf-8";
/* CSS Document */

*{
    transition: filter 2000ms ease;
}

#DMlist_CONTAIN{
    grid-column: -4/-2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dmlist{
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 6em;
    text-align: right;
}
.dmlist li{
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    width: auto;
    height: auto;
    list-style: circle;
    color: #888;
}
.dmlist li:first-child{
    z-index: 200;
    list-style-type: none;
}
.dmlist li:not(:first-child){
    font-family: 'ProvidenceSansPro-Bold';
    font-size: 2rem;
    z-index: 100;
    opacity: 0;
    right: 42%;
    width: 100%;
}
.dmlist li:first-child{
    transform: translate(-40%,-40%);
}
.dmlist_img{
    width: 50%;
    height: 50%;
    transform: translate(-40%,0%);
}

.shield{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1.00);
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: 201;
    pointer-events: none;
}


/* img classes */
/* 0/-1 */
.being_0{
	left: 30%;
	bottom: -25%;
	width: 25%;
	transform: translate(-50%,-50%);
}
.obj_0{
	left: 50%;
	bottom: -25%;
	width: 25%;
	transform: translate(-50%,-50%);
}
.feel_0{
	left: 70%;
	bottom: -25%;
	width: 25%;
	transform: translate(-50%,-50%);
}

/* 1 */
.being_1{
	left: 30%;
	bottom: 35%;
	width: 25%;
	transform: translate(-50%,-50%) rotate(50deg);
}
.obj_1{
	left: 70%;
	bottom: -15%;
	width: 20%;
	transform: translate(-50%,-50%);
}
.feel_1{
	left: 42%;
	bottom: 10%;
	width: 12%;
	transform: translate(-50%,-50%);
}
/* 1 */
.being_1{
	left: 30%;
	bottom: 35%;
	width: 25%;
	transform: translate(-50%,-50%) rotate(50deg);
}
.obj_1{
	left: 70%;
	bottom: -15%;
	width: 20%;
	transform: translate(-50%,-50%);
}
.feel_1{
	left: 42%;
	bottom: 10%;
	width: 12%;
	transform: translate(-50%,-50%);
}
/* 1 */
.being_1{
	left: 30%;
	bottom: 35%;
	width: 25%;
	transform: translate(-50%,-50%) rotate(50deg);
}
.obj_1{
	left: 70%;
	bottom: -15%;
	width: 20%;
	transform: translate(-50%,-50%);
}
.feel_1{
	left: 42%;
	bottom: 10%;
	width: 12%;
	transform: translate(-50%,-50%);
}

/* 2 */
.being_2{
	left: 50%;
	bottom: -40%;
	width: 40%;
	transform: translate(-50%,-50%);
}
.obj_2{
	left: 65%;
	bottom: 25%;
	width: 30%;
	transform: translate(-50%,-50%) rotate(180deg);
}
.feel_2{
	left: 20%;
	bottom: 8%;
	width: 30%;
	transform: translate(-50%,-50%);
}

/* 3 */
.being_3{
	left: 48%;
	bottom: 31%;
	width: 12%;
	transform: translate(-50%,-50%);
}
.obj_3{
	left: 10%;
	bottom: -35%;
	width: 50%;
	transform: translate(-50%,-50%);
}
.feel_3{
	left: 82%;
	bottom: -45%;
	width: 40%;
	transform: translate(-50%,-50%);
}

/* 4 */
.being_4{
	left: 30%;
	bottom: -70%;
	width: 50%;
	transform: translate(-50%,-50%);
}
.obj_4{
	left: 53%;
	bottom: 3%;
	width: 18%;
	transform: translate(-50%,-50%);
}
.feel_4{
	left: 74%;
	bottom: 15%;
	width: 20%;
	transform: translate(-50%,-50%);
}

/* 5 */
.being_5{
	left: 20%;
	bottom: -2.5%;
	width: 40%;
	transform: translate(-50%,-50%);
}
.obj_5{
	left: 53%;
	bottom: -70%;
	width: 50%;
	transform: translate(-50%,-50%);
}
.feel_5{
	left: 80%;
	bottom: -50%;
	width: 40%;
	transform: translate(-50%,-50%) rotateY(-20deg) rotateZ(8deg);
}

/* 6 */
.being_6{
	left: 40%;
	bottom: -15%;
	width: 40%;
	transform: translate(-50%,-50%) rotate(20deg);
    z-index: 10;
}
.obj_6{
	left: 58%;
	bottom: -15%;
	width: 28%;
	transform: translate(-50%,-50%);
}
.feel_6{
	left: 73.7%;
	bottom: 20%;
	width: 15%;
	transform: translate(-50%,-50%);
}

/* 7 */
.being_7{
	left: 48%;
	bottom: 5%;
	width: 25%;
	transform: translate(-50%,-50%) rotate(-6deg);
}
.obj_7{
	left: 45%;
	bottom: -15%;
	width: 25%;
	transform: translate(-50%,-50%) rotateY(180deg) rotateZ(6deg);
}
.feel_7{
	left: 73.7%;
	bottom: -8%;
	width: 45%;
	transform: translate(-50%,-50%) rotateY(-60deg) rotateZ(-10deg);
}

/* 8 */
.being_8{
	left: 50%;
	bottom: 40.2%;
	width: 20%;
	transform: translate(-50%,-50%);
}
.obj_8{
	left: 25%;
	bottom: 24%;
	width: 12%;
	transform: translate(-50%,-50%) rotateY(180deg);
}
.feel_8{
	left: 50%;
	bottom: -20%;
	width: 25%;
	transform: translate(-50%,-50%) rotateX(60deg);
}

/* 9 */
.being_9{
	left: 20%;
	bottom: 20%;
	width: 30%;
	transform: translate(-50%,-50%);
}
.obj_9{
	left: 48%;
	bottom: 25%;
	width: 30%;
	transform: translate(-50%,-50%);
}
.feel_9{
	left: 80%;
	bottom: 20%;
	width: 30%;
	transform: translate(-50%,-50%);
}

/* 10 */
.being_10{
	left: 85%;
	bottom: -8%;
	width: 30%;
	transform: translate(-50%,-50%) rotateY(180deg) rotateZ(-5deg);
}
.obj_10{
	left: 25%;
	bottom: -32%;
	width: 45%;
	transform: translate(-50%,-50%) rotateX(180deg) rotateZ(90deg);
}
.feel_10{
	left: 75%;
	bottom: -28%;
	width: 22%;
	transform: translate(-50%,-50%) rotateX(60deg) rotateZ(15deg);
}